<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="USUARIOAUTENTIFICADO_SESSIONNAME" value="SYS.USUARIOAUTENTIFICADO" />
    <add key="ESQUEMA" value="PROD." />
    <add key="ESQUEMAINFO" value="INFONAVIT_NOH_USR." />
    <add key="MEXWEB" value="MEXWEB." />
    <add key="APLICACION_ID" value="210" />
    <add key="SCLTCOD" value="597" />
    <add key="OPERATORIA" value="1659" />
    <add key="CATEGORIA" value="9293" />

    <add key="ClamAVHost" value="clamav.adea.com.mx" />
    <add key="ClamAVPort" value="3310" />
    <add key="BucketName" value="dgt-597-01659" />
   
    <add key="LoginAPI" value="https://gtwservices.infonavit.org.mx:8065" />   
    <add key="KEYID" value="d8b5368f-8c2d-4992-8543-6524b64a86eb" />
    <add key="ID_CAT_APP" value="APL0081" />

    <add key="UserNameWS" value="serviciosweb75" />
    <add key="PasswordWS" value="piqa2018" />
    


  </appSettings>
  <system.web>
    <sessionState timeout="100" mode="InProc"></sessionState>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" name=".ASPXFORMSAUTH" defaultUrl="~/Home/Index" timeout="100"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" defaultRedirect="~/Error/GeneralError">
      <error statusCode="403" redirect="~/Error/Forbidden" />
      <error statusCode="404" redirect="~/Error/PageNotFound" />
      <error statusCode="500" redirect="~/Error/InternalError" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess"
                          publicKeyToken="89b483f429c47342"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.23.1"
                         newVersion="4.122.23.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="RouteJs" />
      <add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNetMvc-Version" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="origin" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Cache-Control" value="private" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <!--PRODUCCION-->
    <add name="ConnectionString" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=cluster-bd.adea.com.mx)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=adeatol)));Persist Security Info=True;User ID=INFONAVIT_NOH_APP;Password=C4pd0R25W3N" />
  

    <!--DESARROLLO-->
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=Adeatoldbdev12.adea.com.mx)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dev)));User Id=imag;Password=imagg;" providerName="Oracle.ManagedDataAccess.Client" />-->

   </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mxImagenDigitalS3WSImplServiceSoapBinding" maxReceivedMessageSize="2147483647" messageEncoding="Mtom"/>
        <binding name="InfonavitConsultaServiceSoapBinding" maxReceivedMessageSize="2147483647" messageEncoding="Mtom"/>  
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://a330.adea.com.mx/acm-ws-digitales/wss3/AdeamxImagenDigitalS3WS" binding="basicHttpBinding" bindingConfiguration="mxImagenDigitalS3WSImplServiceSoapBinding" contract="CargaImgSW.mxImagenDigitalS3WS" name="mxImagenDigitalS3WSImplPort" />
      <endpoint address="https://serviciosweb.infonavit.org.mx:9615/Mejoravit/v1.1/GuardaValoresConsultaInformacion" binding="basicHttpBinding" bindingConfiguration="InfonavitConsultaServiceSoapBinding" contract="WSInfonavitConsulta.InfonavitConsulta" name="InfonavitConsultaPort" />
     
    </client>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_ResguardoInformacionCredito_OutSynBinding"
          openTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="AdeamxImagenDigitalS3WSImplServiceSoapBinding" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://serviciosweb.infonavit.org.mx:9615/Mejoravit/v1.1/GuardaValoresConsultaInformacion"
        binding="basicHttpBinding" bindingConfiguration="SI_ResguardoInformacionCredito_OutSynBinding"
        contract="WsInfonavit.SI_ResguardoInformacionCredito_OutSyn"
        name="HTTP_Port" />
      <endpoint address="http://a330.adea.com.mx/acm-ws-digitales/wss3/AdeamxImagenDigitalS3WS"
        binding="basicHttpBinding" bindingConfiguration="AdeamxImagenDigitalS3WSImplServiceSoapBinding"
        contract="CargaImgSW.AdeamxImagenDigitalS3WS" name="AdeamxImagenDigitalS3WSImplPort" />
    </client>
  </system.serviceModel>
</configuration>
